@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@font-face {
  font-family: "Microbrew";
  src: url("../fonts/Microbrew One.otf") format("truetype");
}
@font-face {
  font-family: "Microbrew1";
  src: url("../fonts/Microbrew Two.otf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Inter";
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

button,
input,
textarea,
select {
  border: none;
  outline: none;
  background-color: transparent;
  resize: none;
}

.title {
  font-family: "Microbrew1";
}

#container {
  padding-top: 20px;
  padding-bottom: 20px;
}

header {
  border: 1px solid #F5F5F5;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.0280267);
  border-radius: 12px;
  background-color: #fff;
  margin-bottom: 25px;
}
header .header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}
header .header-content .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 110px;
}
header .header-content .logo img {
  height: 100%;
  width: 100%;
}
header .header-content .site-lang {
  font-family: "Inter", sans-serif;
  margin: 0 20px;
}
header .header-content .site-lang li {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  position: relative;
}
header .header-content .site-lang li:hover ul {
  opacity: 1;
  visibility: visible;
  transform: translate(0);
}
header .header-content .site-lang li i {
  margin-left: 5px;
}
header .header-content .site-lang li ul {
  padding: 15px 0;
  position: absolute;
  background: #F1F3F6;
  border: 1px solid #F5F5F5;
  border-radius: 12px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  right: -10px;
  z-index: 99;
  top: 35px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  transform: translateY(5px);
}
header .header-content .site-lang li ul li:first-child {
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #000;
}
header .header-content .site-lang li ul li:first-child:hover {
  border-color: #DC3545;
}
header .header-content .site-lang li ul li a {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #3E3E59;
}
header .header-content .site-lang li ul li a:hover {
  color: #DC3545;
}

.breadcrumb-area li a {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 15px 10px;
  display: block;
  border-radius: 5px;
  transition: all 0.4s ease;
  color: #000000;
}
.breadcrumb-area li a:hover {
  margin-left: 9px;
  color: #DC3545;
}
.breadcrumb-area li a i {
  margin-right: 5px;
}

.links .item {
  overflow: hidden;
  border-radius: 24px;
  height: 300px;
  margin-bottom: 25px;
}
.links .item .item-content {
  transition: all 0.3s ease-in;
  border-radius: 24px;
  color: #fff;
  text-transform: uppercase;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  padding-left: 40px;
}
.links .item:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.links .item:hover .item-content {
  transform: scale(1.03);
}
.links .item .title {
  font-size: 60px;
  color: #fff;
}
.links .item#menu {
  background-color: #DC3545;
}
.links .item#menu .item-content {
  background: #DC3545;
  background-image: url("../images/icon/menu-layout.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}
.links .item#menu .img {
  margin-bottom: 40px;
  width: 55px;
}
.links .item#menu .img img {
  width: 100%;
}
.links .item#branches {
  background: #EFB505;
}
.links .item#branches .item-content {
  background: #EFB505;
  background-image: url("../images/icon/branchs-layout.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}
.links .item#branches .img {
  margin-bottom: 40px;
  width: 38px;
}
.links .item#branches .img img {
  width: 100%;
}
.links .item#vacancy {
  background: #212121;
}
.links .item#vacancy .item-content {
  background: #212121;
  background-image: url("../images/icon/vacancy.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}
.links .item#vacancy .img {
  margin-bottom: 40px;
  width: 50px;
}
.links .item#vacancy .img img {
  width: 100%;
}
.links .item#wolt-link {
  background: #4BB1DF;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.links .item#wolt-link .item-content {
  padding: 0;
}
.links .item#wolt-link a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.links .item#wolt-link a .img {
  width: 150px;
  height: 70px;
}
.links .item#wolt-link a .img img {
  width: 100%;
  height: 100%;
}
.links .item#bolt-link {
  background: #51BD68;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.links .item#bolt-link .item-content {
  padding: 0;
}
.links .item#bolt-link a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.links .item#bolt-link a .img {
  width: 150px;
  height: 70px;
}
.links .item#bolt-link a .img img {
  width: 100%;
  height: 100%;
}

footer {
  background-color: #F1F3F6;
  border: 1px solid #F5F5F5;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.0280267);
  border-radius: 12px;
  padding: 30px;
}
footer .footer-content .num {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 14px;
  font-family: "Inter";
  color: #807E7E;
}
footer .footer-content .num a {
  font-weight: 700;
  font-size: 30px;
  line-height: 28px;
  color: #121212;
  display: inline-block;
  margin-top: 10px;
  transition: all 0.4s ease;
}
footer .footer-content .num a:hover {
  color: #19AFFF;
}
footer .footer-content .social-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
footer .footer-content .social-links li {
  width: 48px;
  height: 48px;
  margin-right: 10px;
  transition: all 0.4s ease;
}
footer .footer-content .social-links li:hover {
  transform: scale(1.03);
}

.menu-section .list-item {
  cursor: pointer;
  margin-bottom: 70px;
}
.menu-section .list-item.active .menu-img {
  display: block;
  opacity: 1;
  height: auto;
  transform: scale(1);
}
.menu-section .list-item.active .menu-item-img {
  display: none;
}
.menu-section .list-item.active .menu-text {
  width: 100%;
}
.menu-section .list-item .list-title {
  font-family: "Microbrew";
  font-size: 30px;
  color: rgb(32, 33, 37);
}
.menu-section .list-item .desc {
  color: rgba(32, 33, 37, 0.64);
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0;
}
.menu-section .list-item .price {
  color: rgb(32, 33, 37);
  font-family: Microbrew;
  font-size: 1.5rem;
}
.menu-section .list-item .list-footer {
  background: #FFDF7E;
  border-radius: 4px;
  padding: 3px 5px;
  font-weight: 500;
}
.menu-section .list-item .image {
  position: relative;
}
.menu-section .list-item .image .badge-img {
  position: absolute;
  left: -20px;
  top: -20px;
}
.menu-section .list-item .image .badge-img img {
  width: 80px;
  height: 80px;
}
.menu-section .list-item .menu-img {
  position: relative;
  justify-content: center;
  opacity: 0;
  transition: all 0.4s ease;
  height: 0;
  transform: scale(0.9);
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.menu-section .list-item .menu-img .badge-img {
  position: absolute;
  left: -20px;
  top: -20px;
}
.menu-section .list-item .menu-img .badge-img img {
  width: 80px;
  height: 80px;
}

.branches-section .branches-title {
  font-family: "Microbrew";
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 25px;
  color: #212121;
}
.branches-section .single-item {
  margin-bottom: 30px;
}
.branches-section .single-item .single-item-header {
  cursor: pointer;
  margin-bottom: 15px;
  font-family: "Microbrew";
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  color: #3E3E59;
}
.branches-section .single-item .single-item-header i {
  transition: all 0.2s ease;
}
.branches-section .single-item .single-item-header i.active {
  transform: rotate(180deg);
}
.branches-section .single-item .single-item-body {
  display: none;
}
.branches-section .single-item .single-item-body .branches-img {
  overflow: hidden;
  border-radius: 12px;
}
.branches-section .single-item .single-item-body .branches-img img {
  transition: all 0.4s ease;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.branches-section .single-item .single-item-body .branches-img img:hover {
  transform: scale(1.03);
}
.branches-section .single-item .single-item-body .info {
  margin: 20px 0;
}
.branches-section .single-item .single-item-body .info li {
  color: #3E3E59;
  margin-bottom: 10px;
}
.branches-section .single-item .single-item-body .info li span {
  font-weight: 500;
  font-size: 18px;
}
.branches-section .single-item .single-item-body .info li i {
  margin-right: 15px;
  font-size: 18px;
}
.branches-section .single-item .single-item-body .info li a {
  color: #3E3E59;
}

.vacancy-section .vacancy-title {
  font-family: "Microbrew";
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 25px;
  color: #212121;
}
.vacancy-section .single-item {
  background-color: #F1F3F6;
  border-radius: 12px;
  padding: 32px 24px;
  margin-bottom: 30px;
}
.vacancy-section .single-item .branch-name {
  background-color: #FAFAFB;
  font-family: "Inter";
  display: inline-flex;
  padding: 2px 10px;
  border-radius: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #212121;
  margin-bottom: 10px;
}
.vacancy-section .single-item .vacancy-name {
  font-weight: 700;
  font-size: 24px;
  color: #212121;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
}
.vacancy-section .single-item .vacancy-desc,
.vacancy-section .single-item .address {
  font-family: "Inter";
  font-weight: 400;
  margin-bottom: 10px;
  font-size: 17px;
  color: #3E3E59;
  margin-bottom: 25px;
}
.vacancy-section .single-item .vacancy-desc i,
.vacancy-section .single-item .address i {
  margin-right: 10px;
}
.vacancy-section .single-item .apply {
  color: #fff;
  background-color: #121212;
  border-radius: 8px;
  width: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
  text-align: center;
  font-size: 17px;
  font-family: "Inter";
  font-weight: 600;
  transition: all 0.4s ease;
}
.vacancy-section .single-item .apply:hover {
  transform: scale(1.02);
  background-color: #000;
}
.vacancy-section .single-item .apply i {
  transform: rotate(-45deg);
  margin-left: 10px;
}

@media (max-width: 992px) {
  header .header-content {
    height: 90px;
  }
  header .header-content .logo {
    width: 120px;
  }
  .links .item .item-content {
    padding-left: 30px;
  }
  .links .item .title {
    font-size: 45px;
  }
  .links .item#menu .img {
    margin-bottom: 20px;
    width: 55px;
  }
  .links .item#branches .img {
    margin-bottom: 20px;
    width: 38px;
  }
  .links .item#vacancy .img {
    margin-bottom: 20px;
    width: 38px;
  }
}
@media (max-width: 768px) {
  .links .item {
    height: 260px;
  }
  .links .item .item-content {
    height: 260px;
  }
  .links .item .title {
    font-size: 38px;
  }
  .links .item#menu .img {
    margin-bottom: 15px;
    width: 40px;
  }
  .links .item#branches .img {
    margin-bottom: 15px;
    width: 28px;
  }
  .links .item#vacancy .img {
    margin-bottom: 15px;
    width: 30px;
  }
  .links .item#wolt-link a .img {
    width: 100px;
    height: 50px;
  }
  .links .item#bolt-link a .img {
    width: 100px;
    height: 50px;
  }
}
@media (max-width: 576px) {
  header .header-content {
    height: 90px;
  }
  header .header-content .site-lang {
    margin: 0 10px;
  }
  header .header-content .site-lang li ul {
    padding: 10px 0;
    border-radius: 8px;
    width: 70px;
  }
  header .header-content .site-lang li ul li:first-child {
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  header .header-content .site-lang li ul li a {
    font-size: 15px;
  }
  .links .item {
    height: 160px;
  }
  .links .item .item-content {
    height: 160px;
    padding-left: 20px;
  }
  .links .item .title {
    font-size: 24px;
  }
  .links .item#menu .img {
    width: 30px;
  }
  .links .item#branches .img {
    width: 18px;
  }
  .links .item#vacancy .img {
    width: 28px;
  }
  .links .item#wolt-link a .img {
    width: 80px;
    height: 40px;
  }
  .links .item#bolt-link a .img {
    width: 80px;
    height: 40px;
  }
  footer {
    padding: 15px;
  }
  footer .footer-content .num a {
    font-size: 20px;
  }
  .menu-section .list-item {
    margin-bottom: 30px;
  }
  .menu-section .list-item .list-title {
    font-size: 20px;
  }
  .menu-section .list-item .desc {
    margin: 5px 0;
    font-size: 14px;
  }
  .menu-section .list-item .price {
    font-size: 20px;
  }
  .menu-section .list-item .list-footer {
    font-size: 12px;
  }
  .menu-section .list-item .image .badge-img {
    position: absolute;
    left: -6px;
    top: -10px;
  }
  .menu-section .list-item .image .badge-img img {
    width: 30px;
    height: 30px;
  }
  .menu-section .list-item .menu-img .badge-img {
    position: absolute;
    left: -10px;
    top: -10px;
  }
  .menu-section .list-item .menu-img .badge-img img {
    width: 40px;
    height: 40px;
  }
}/*# sourceMappingURL=style.css.map */