@font-face {
    font-family: "Microbrew";
    src: url("../fonts/Microbrew\ One.otf") format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Inter';

}

a {
    text-decoration: none;
}

ul,
ol,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

button,
input,
textarea,
select {
    border: none;
    outline: none;
    background-color: transparent;
    resize: none;
}

.title {
    font-family: "Microbrew", sans-serif;

}

#container {
    padding-top: 20px;
    padding-bottom: 20px;
}

// header
header {
    border: 1px solid #F5F5F5;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.0280267);
    border-radius: 12px;
    background-color: #fff;
    margin-bottom: 25px;

    .header-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100px;

        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 120px;
            width: 110px;

            img {
                height: 100%;
                width: 100%;
            }
        }

        .site-lang {
            font-family: 'Inter', sans-serif;
            margin: 0 20px;

            li {
                font-size: 16px;
                text-transform: uppercase;
                font-weight: 500;
                font-family: 'Inter', sans-serif;
                cursor: pointer;
                position: relative;

                &:hover {
                    ul {
                        opacity: 1;
                        visibility: visible;
                        transform: translate(0);
                    }
                }

                i {
                    margin-left: 5px;
                }

                ul {
                    padding: 15px 0;
                    position: absolute;
                    background: #F1F3F6;
                    border: 1px solid #F5F5F5;
                    border-radius: 12px;
                    width: 90px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    right: -10px;
                    z-index: 99;
                    top: 35px;
                    opacity: 0;
                    visibility: hidden;
                    transition: all 0.4s ease;
                    transform: translateY(5px);

                    li {
                        &:first-child {
                            padding-bottom: 10px;
                            margin-bottom: 15px;
                            border-bottom: 1px solid #000;

                            &:hover {
                                border-color: #DC3545;
                            }
                        }

                        a {
                            font-weight: 600;
                            font-size: 16px;
                            text-align: center;
                            color: #3E3E59;

                            &:hover {
                                color: #DC3545;
                            }

                        }
                    }
                }
            }
        }
    }
}

.links {

    .item {
        border-radius: 24px;
        color: #fff;
        text-transform: uppercase;
        height: 300px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
        margin-bottom: 25px;
        padding-left: 40px;

        a {
            transition: all 0.4s ease-in;

            &:hover {
                transform: scale(1.01);
            }
        }


        .title {
            font-size: 60px;
            color: #fff;
        }

        &#menu {
            background: #DC3545;
            background-image: url('../images/icon/menu-layout.png');
            background-size: contain;
            background-position: right;
            background-repeat: no-repeat;

            .img {
                margin-bottom: 40px;
                width: 55px;

                img {
                    width: 100%;
                }
            }
        }

        &#branches {
            background: #EFB505;
            background-image: url('../images/icon/branchs-layout.png');
            background-size: contain;
            background-position: right;
            background-repeat: no-repeat;

            .img {
                margin-bottom: 40px;
                width: 38px;

                img {
                    width: 100%;
                }
            }
        }

        &#vacancy {
            background: #212121;
            background-image: url('../images/icon/vacancy.png');
            background-size: contain;
            background-position: right;
            background-repeat: no-repeat;

            .img {
                margin-bottom: 40px;
                width: 50px;

                img {
                    width: 100%;
                }
            }
        }

        &#wolt-link {
            background: #4BB1DF;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;

            a {

                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                height: 100%;

                .img {
                    width: 150px;
                    height: 70px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

        }

        &#bolt-link {
            background: #51BD68;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;

            a {

                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                height: 100%;

                .img {
                    width: 150px;
                    height: 70px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }


        }

    }
}

footer {
    background-color: #F1F3F6;
    border: 1px solid #F5F5F5;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.0280267);
    border-radius: 12px;
    padding: 30px;

    .footer-content {

        .num {
            display: flex;
            flex-direction: column;
            font-weight: 400;
            font-size: 14px;
            font-family: 'Inter';
            color: #807E7E;

            a {
                font-weight: 700;
                font-size: 30px;
                line-height: 28px;
                color: #121212;
                display: inline-block;
                margin-top: 10px;
                transition: all 0.4s ease;

                &:hover {
                    color: #19AFFF;
                }
            }
        }

        .social-links {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            li {
                width: 48px;
                background-color: #000;
                height: 48px;
                margin-right: 20px;
                display: flex;
                align-items: center;
                border-radius: 8px;
                justify-content: center;

                &:last-child {
                    margin: 0;
                }

                &.facebook {
                    background: linear-gradient(0deg, #0062E0 2.92%, #19AFFF 100%);
                }

                &.instagram {
                    background: radial-gradient(179.06% 43.44% at -16.75% 7.2%, #3771C8 0%, #3771C8 12.8%, rgba(102, 0, 255, 0) 100%), radial-gradient(92.18% 99.11% at 26.56% 107.7%, #FFDD55 0%, #FFDD55 10%, #FF543E 50%, #C837AB 100%);
                }

                a {
                    font-size: 32px;
                    color: #fff;
                }
            }
        }
    }
}

.menu-section {

    .list-item {
        cursor: pointer;
        margin-bottom: 70px;

        &.active {
            .menu-img {
                display: flex;
            }

            .menu-item-img {
                display: none;
            }

            .menu-text {
                width: 100%;
            }
        }

        .list-title {
            font-family: Microbrew;
            font-size: 30px;
            color: rgba(32, 33, 37, 1);
        }

        .desc {
            color: rgba(32, 33, 37, 0.64);
            font-size: 18px;
            font-weight: 500;
            margin: 10px 0;
        }

        .price {
            color: rgba(32, 33, 37, 1);
            font-family: Microbrew;
            font-size: 1.5rem;
        }

        .list-footer {
            background: #FFDF7E;
            border-radius: 4px;
            padding: 3px 5px;
            font-weight: 500;
        }

        .image {
            position: relative;

            .badge-img {
                position: absolute;
                left: -20px;
                top: -20px;

                img {
                    width: 80px;
                    height: 80px;
                }
            }
        }

        .menu-img {
            position: relative;
            display: none;
            justify-content: center;
            transition: all 0.4s ease;
            animation: showDiv 1s forwards;

            @keyframes showDiv {
                0% {
                    display: none;
                    transform: scale(0.8);
                }

                100% {
                    transform: scale(1);
                }
            }

            .badge-img {
                position: absolute;
                left: -20px;
                top: -20px;

                img {
                    width: 80px;
                    height: 80px;
                }
            }
        }


    }
}

.branches-section {
    .branches-title {
        font-family: 'Microbrew';
        font-weight: 400;
        font-size: 24px;
        margin-bottom: 25px;
        color: #212121;

    }

    .single-item {
        margin-bottom: 30px;

        .single-item-header {
            cursor: pointer;
            margin-bottom: 15px;
            font-family: 'Microbrew';
            text-transform: uppercase;
            font-weight: 400;
            font-size: 18px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 10px;
            color: #3E3E59;
            i{
                transition: all 0.2s ease;
                &.active{
                    transform: rotate(180deg);
                }
            }
        }

        .single-item-body {
            display: none;
            .branches-img {
                overflow: hidden;
                border-radius: 12px;

                img {
                    transition: all 0.4s ease;
                    width: 100%;

                    &:hover {
                        transform: scale(1.03);
                    }
                }
            }

            .info {
                margin: 20px 0;

                li {
                    color: #3E3E59;
                    margin-bottom: 10px;

                    span {
                        font-weight: 500;
                        font-size: 18px;

                    }

                    i {
                        margin-right: 15px;
                        font-size: 18px;
                        
                    }

                    a {
                        color: #3E3E59;
                    }
                }
            }
        }
    }
}

@media(max-width:992px) {

    // header
    header {

        .header-content {
            height: 90px;

            .logo {
                width: 120px;
            }
        }
    }

    // links
    .links {
        .item {
            padding-left: 30px;
            border-radius: 40px;

            .title {
                font-size: 45px;
            }

            &#menu {
                .img {
                    margin-bottom: 20px;
                    width: 55px;
                }
            }

            &#branches {
                .img {
                    margin-bottom: 20px;
                    width: 38px;
                }
            }

            &#vacancy {
                .img {
                    margin-bottom: 20px;
                    width: 38px;
                }
            }
        }
    }
}

@media(max-width:768px) {

    // links
    .links {
        .item {
            height: 260px;

            .title {
                font-size: 35px;
            }

            &#menu {
                .img {
                    margin-bottom: 15px;
                    width: 40px;
                }
            }

            &#branches {
                .img {
                    margin-bottom: 15px;
                    width: 28px;
                }
            }

            &#vacancy {
                .img {
                    margin-bottom: 15px;
                    width: 30px;
                }
            }

            &#wolt-link {
                a {
                    .img {
                        width: 100px;
                        height: 50px;
                    }
                }
            }

            &#bolt-link {
                a {
                    .img {
                        width: 100px;
                        height: 50px;
                    }
                }


            }

        }
    }
}

@media(max-width:576px) {

    header {

        .header-content {
            height: 90px;

            .site-lang {
                margin: 0 10px;

                li {

                    ul {
                        padding: 10px 0;
                        border-radius: 8px;
                        width: 70px;

                        li {
                            &:first-child {
                                padding-bottom: 5px;
                                margin-bottom: 10px;
                            }

                            a {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }

    // links
    .links {
        overflow-x: hidden;

        .item {
            height: 160px;
            border-radius: 24px;
            padding-left: 20px;

            .title {
                font-size: 24px;
            }

            &#menu {
                .img {
                    width: 30px;
                }
            }

            &#branches {
                .img {
                    width: 18px;
                }
            }

            &#vacancy {
                .img {
                    width: 28px;
                }
            }

            &#wolt-link {
                a {
                    .img {
                        width: 80px;
                        height: 40px;
                    }
                }
            }

            &#bolt-link {
                a {
                    .img {
                        width: 80px;
                        height: 40px;
                    }
                }


            }
        }
    }

    footer {
        background-color: #F1F3F6;
        border: 1px solid #F5F5F5;
        box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.0280267);
        border-radius: 12px;
        padding: 20px;

        .footer-content {
            .num {
                span {
                    font-size: 24px;
                }
            }

            .social-links {
                li {
                    width: 48px;
                    height: 48px;
                    margin-right: 15px;

                    a {
                        font-size: 28px;
                        color: #fff;
                    }
                }
            }
        }
    }

    .menu-section {
        .list-item {
            margin-bottom: 30px;

            .list-title {
                font-size: 20px;
            }

            .desc {
                margin: 5px 0;
                font-size: 14px;

            }

            .price {
                font-size: 20px;
            }

            .list-footer {
                font-size: 12px;

            }

            .image {

                .badge-img {
                    position: absolute;
                    left: -6px;
                    top: -10px;

                    img {
                        width: 30px;
                        height: 30px;
                    }
                }
            }

            .menu-img {
                .badge-img {
                    position: absolute;
                    left: -10px;
                    top: -10px;

                    img {
                        width: 40px;
                        height: 40px;
                    }
                }
            }


        }
    }
}